<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app-id</key>
	<string>YOUR_ALGOLIA_APP_ID</string>
	<key>api-key</key>
	<string>YOUR_ALGOLIA_API_KEY</string>
	<key>index-name</key>
	<string>office_lines</string>
</dict>
</plist>